<h1>Bem-vindo a documentacao da calculadora</h1>
<p>
    Para usar a calculadora, chame a API disponivel em /calculator usando o verbo post, e enviando um payload
    contendo os valores x e y. A resposta sera a soma.
</p>
